.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  background-color: rgb(17, 65, 119);
  color: white;
  height: 180px;
  font-size: 12px;
  margin-top: 40px;
}
